.chart-wrap {
  max-width: 950px;
  margin: 40px auto 0;
}
input {
  margin-top: 40px;
  width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
ul li {
  display: inline-block;
  margin: 0 3px;
}
.update-range{
  background-color: black;
  color: aliceblue;
  border: none;

}
.Best{
  font-size: 20px;
  color: black;

}
.worst{
  font-size: 20px;
  color: black;
  float: right;
  
}